<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="statsd" type="statsd.net.Configuration.StatsdSection, statsd.net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <statsd>
    <listeners>
      <add type="udp" port="12000" />
      <add type="http" port="12001" />
    </listeners>
    <backends>
      <add type="sql" connectionString="" /> 
      <add type="graphite" host="" port="" />
    </backends>
    <webConsole enabled="true" localhostOnly="true" port="8080" />
    <aggregator flushIntervalSeconds="60">
      <gauges rootNamespace="stats.gauges" />
      <timers rootNamespace="stats.timers" allowedAggregations="mean">
        <percentiles>
          <add name="p90_5min" percentile="90" flushIntervalSeconds="300" />
          <add name="p90_1hour" percentile="90" flushIntervalSeconds="3600" />
          <add name="p50_1hour" percentile="50" flushIntervalSeconds="3600" />
        </percentiles>
      </timers>
      <counters rootNamespace="stats.counters" />
    </aggregator>
  </statsd>
</configuration>