<?xml version="1.0" encoding="utf-8" ?>
<statsdnet name="statsdnet-a">
    <listeners>
        <udp port="12000" />
    </listeners>
    <aggregation flushInterval="5s">
        <gauges namespace="statsdnet-a.gauges" removeZeroGauges="true" />
        <counters namespace="statsdnet-a.counters" />
        <sets namespace="statsdnet-a.sets" />
        <timers namespace="statsdnet-a.timers" calculateSumSquares="false">
            <percentile name="p90-5min" threshold="90" flushInterval="5m" />
            <percentile name="p90-1hour" threshold="90" flushInterval="1h" />
            <percentile name="p50-1hour" threshold="50" flushInterval="1h" />
        </timers>
    </aggregation>
    <backends>
        <statsdnet host="localhost" port="12001" flushInterval="5s" enableCompression="true"/>
        <console />
    </backends>
</statsdnet>