<?xml version="1.0" encoding="utf-8" ?>
<statsdnet name="statsd">
    <listeners>
        <udp port="12000" />
        <tcp port="12001" />
        <http port="12002" cookie="950592C2-C2E3-46DA-B6AE-C8CE8A7847F5" />
    </listeners>
    <aggregation flushInterval="1m">
        <gauges namespace="test.gauges" removeZeroGauges="true" />
        <counters namespace="test.counters" />
        <sets namespace="test.sets" />
        <timers namespace="test.timers" calculateSumSquares="false">
            <percentile name="p90-5min" threshold="90" flushInterval="10s" />
            <percentile name="p90-1hour" threshold="90" flushInterval="20s" />
            <percentile name="p50-1hour" threshold="50" flushInterval="30s" />
        </timers>
    </aggregation>
    <backends>
    <!--
        <sqlserver connectionString="server=localhost;database=metrics;uid=mmetricsuser;password=metricsuser"
                   writeBatchSize="500" />
                   -->
        <graphite host="metricsas1" port="2003" />
        <console />
      <!--
        <librato email="lukev@lukev.net"
                 token="10745d7756eb9ceb0f60425431ac770eb69005e733eae57ffaf172c1cf43876e"
                 source="unique-per-statsdnet-instance"
                 numRetries="3"
                 retryDelay="5s"
                 postTimeout="30s"
                 maxBatchSize="10"
                 countersAsGauges="true" />
                 -->
        <!--<statsd host="windows" port="11002" /> -->
    </backends>
</statsdnet>