<?xml version="1.0" encoding="utf-8" ?>
<statsdnet name="statsd">
    <listeners>
        <udp port="8000" />
    </listeners>
    <aggregation flushInterval="1m">
        <gauges namespace="test.gauges" removeZeroGauges="true" />
        <counters namespace="test.counters" />
        <sets namespace="test.sets" />
        <timers namespace="test.timers" calculateSumSquares="false">
            <percentile name="p90-5min" threshold="90" flushInterval="5m" />
            <percentile name="p90-1hour" threshold="90" flushInterval="1h" />
            <percentile name="p50-1hour" threshold="50" flushInterval="1h" />
        </timers>
    </aggregation>
    <backends>
        <graphite host="localhost" port="2003" />
        <console />
    </backends>
</statsdnet>