<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="StatsdCsharpClient" version="1.2.1.0" targetFramework="net45" />
</packages>