<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <level value="WARN" xdt:Transform="SetAttributes" />
    <appender-ref ref="DebugTraceAppender" xdt:Transform="Remove" xdt:Locator="Match(ref)" />
  </root>

  <appender name="DebugTraceAppender" type="log4net.Appender.TraceAppender" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  
</log4net>